<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/ponto/cadastrar/save" method="POST" >
    <input type="text" placeholder="Nome" name="nome">
    <input type="text" placeholder="CEP" name="cep">
    <input type="text" placeholder="Endereço" name="address">
    <input type="text" placeholder="Bairro" name="bairro">
    <input type="text" placeholder="Cidade" name="cidade">
    <input type="text" placeholder="Estado" name="estado">
    <input type="text" placeholder="Imagem" name="img">
    <input type="submit">
  </form>
</body>
</html>